<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
<head>
    <title>Login</title>
</head>
<body>
<div class="bg-danger" th:if="${param.error}">
    Invalid username and password.
</div>
<div class="text-center" th:if="${param.logout}">
    <p class="bg-warning"> You have been logged out.</p>
</div>
<div>
<form class="form-horizontal" th:action="@{/login}" method="post">
    <div class="form-group"><label> User Name : <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="User Name" /> </label></div>
    <div class="form-group"><label> Password: <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/> </label></div>
    <div class="form-group"><input type="submit" value="Sign In"/></div>
</form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>